@use "variables" as v;
@mixin achievement-win-number($number) {
	&.to_win_#{$number} {
		width: (v.$recto-S-width + v.$achievment-container-recto-S-width-Buffer) * $number;
	}
}
@mixin generate_achievement_container_widths ($min, $max) {
	@for $i from $min through $max {
		@include achievement-win-number($i)
	}
}
@mixin class-variable-position ($className, $number, $position, $axis) {
    &.#{$className}_#{$number} {
        background-position-#{$axis}: -$position;
    }
}
@mixin generate-class-variable-position($min, $max, $start_offset, $increment, $className, $axis) {
    $loopoffset: 0;
    @if $min ==  0 {
        $loopoffset: 1;
    }
    @for $i from $min through $max {
        $position: ($increment * ($i - 1 + $loopoffset)) + $start_offset;
        @include class-variable-position($className,$i, $position, $axis)
    }
}
@mixin generate-icon-x-position($min, $max, $start_offset, $increment) {
    @include generate-class-variable-position($min, $max, $start_offset, $increment, 'icon', 'x')
}
@mixin generate-splay-x-position($min, $max, $start_offset, $increment) {
    @include generate-class-variable-position($min, $max, $start_offset, $increment, 'splay', 'x')
}
@mixin generate-color-x-position($min, $max, $start_offset, $increment) {
    @include generate-class-variable-position($min, $max, $start_offset, $increment, 'color', 'x')
}
@mixin generate-color-y-position($min, $max, $start_offset, $increment) {
    @include generate-class-variable-position($min, $max, $start_offset, $increment, 'color', 'y')
}

@mixin square-age {
	background-color: black;
	border: 1px solid white;
	color: white;
	text-align: center;
}

@mixin icon-background {
    background-image: url('img/resource_icons.jpg');
}
@mixin city-special-icon-background {
    background-image: url('img/cities_special_icons.png');
}
@mixin bonus-background {
    background-image: url('img/bonus_icons.png');
}
@mixin squares-background {
    background-image: url('img/squares.png');
}