/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Innovation implementation : © Jean Portemer <jportemer@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * innovation.css
 *
 * Innovation stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (innovation_innovation.tpl), and to HTML elements you create dynamically
    (in innovation.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

#main_area {
    display: inline-block;
    vertical-align: top;
}

.minor_information {
    font-size: 0.8em;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.log > .roundedbox:empty {
    margin: 0;
    padding: 0;
    height: 2px;
    background-color: #ebd5bd;
}

/* card name in log */
.card_name {
    font-weight: bold;
    font-style: normal;
    color: black;
}

.achievement_name {
    font-weight: bold;
    color: black;
}

/* player */

.player.whiteblock {
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
    position: relative;
}

.player.whiteblock > p > span {
    font-weight: normal;
}

.player.whiteblock:nth-last-of-type(n + 2) {
    margin-bottom: 20px;
}

.player.whiteblock:nth-last-of-type(1) {
    margin-bottom: 0;
}

/* hand */
.hand_container {
    background-color: #FFFFFF;
    border: 1px solid black;
}

.hand_container > div {
    background-color: #ebd5bd;
    padding: 5px;
}

/* container for revealed cards */
.revealed_container {
    padding: 5px;
    width: 182px;
    margin: auto;
}

/* display buttons */
#display_button_bar {
    height: 49px;
}

#change_display_mode_button {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    background-color:rgba(255,255,255,.5);
    border-style: dotted;
    /*font-weight: normal;*/
}

#change_view_full_button {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    background-color:rgba(255,255,255,.5);
    border-style: dotted;
    /*font-weight: normal;*/
}

.disabled, .disabled:hover {
    color: grey !important;
    border-color: grey;
}

.disabled:hover {
    cursor: auto;
}

/*board and piles*/
.board {
    padding: 5px;
    min-height: 171px;
}

.pile_container {
    margin-right: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}

.pile {
    min-height: 126px;
}

/*progress*/
.progress {
    /*text-align: center;*/
    margin-top: 30px;
}

.score_container, .achievement_container {
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.score, .memo_recto, .memo_verso, .achievements {
    display: inline-block;
}

.score, .achievements {
    margin-top: 18px;
    display: inline-block;
}

.score, .achievements {
    height: 49px;
}

.score_show_window {
    text-decoration: underline;
    font-weight: bold;
}

.score_show_window:hover {
    cursor: pointer;
}

.memo_recto, .memo_verso {
    background-image: url('img/Innovation_cards.jpg');    
}

.memo_recto.S {
    width: 96px;
    height: 69px;
    background-size: 500px 238px;
    background-position: -333px -141px;
}

.memo_recto.M {
    width: 560px;
    height: 408px;
    background-size: 2940px 1400px;
    background-position: -1960px -420px;
}

.memo_verso.M { 
    width: 560px;
    height: 408px;
    background-size: 2940px 1400px;
    background-position: -1960px -828px;
}

/* Translatable elements in memo tooltip*/
.memo_recto.M, .memo_verso {
    position: relative
}

.score_txt, .achievements_txt {
    font-family: 'tradegothiclt-condeighteen', Arial, sans-serif;
    background-image: url('img/memo_background.jpg');
    background-size: 28px 28px;
    position: absolute;
    top: 26px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 26px;
    line-height: 26px;
    height: 354px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}

.score_txt {
    left: 25px;
    background-position: 25px 2px;
}

.achievements_txt {
    right: 25px;
    background-position: 16px 2px;
}

.memo_block {
    font-family: 'tradegothiclt-condeighteen', Arial, sans-serif;
    position: absolute;
    background-color: #e4dbcc;
}

.actions_header {
    font-size: 1.5em;
    font-weight: bold;
}

.actions_txt {
    width: 450px;
    height: 36px;
    left: 55px;
    top: 52px;
}

.meld_title {
    width: 143px;
    height: 23px;
    left: 55px;
    top: 91px;
    text-align: center;
    font-weight: bold;
}

.meld_parag {
    width: 143px;
    height: 94px;
    left: 55px;
    top: 114px;
}

.draw_title {
    width: 143px;
    height: 23px;
    left: 206px;
    top: 91px;
    text-align: center;
    font-weight: bold;
}

.draw_parag {
    width: 143px;
    height: 94px;
    left: 206px;
    top: 114px;
}

.achieve_title {
    width: 148px;
    height: 23px;
    left: 357px;
    top: 91px;
    text-align: center;
    font-weight: bold;
}

.achieve_parag{
    width: 148px;
    height: 94px;
    left: 357px;
    top: 114px;
}

.dogma_title {
    width: 450px;
    height: 23px;
    left: 55px;
    top: 209px;
    text-align: center;
    font-weight: bold;
}

.dogma_parag{
    width: 450px;
    height: 121px;
    left: 55px;
    top: 232px;
}

.tuck_title {
    width: 145px;
    height: 23px;
    left: 55px;
    top: 52px;
    text-align: center;
    font-weight: bold;
}

.tuck_parag {
    width: 145px;
    height: 74px;
    left: 55px;
    top: 75px;
}

.return_title {
    width: 145px;
    height: 23px;
    left: 206px;
    top: 52px;
    text-align: center;
    font-weight: bold;
}

.return_parag {
    width: 145px;
    height: 74px;
    left: 206px;
    top: 75px;
}

.draw_and_x_title {
    width: 148px;
    height: 23px;
    left: 357px;
    top: 52px;
    text-align: center;
    font-weight: bold;
}

.draw_and_x_parag{
    width: 148px;
    height: 74px;
    left: 357px;
    top: 75px;
}

.splay_title {
    width: 450px;
    height: 23px;
    left: 55px;
    top: 150px;
    text-align: center;
    font-weight: bold;
}

.splay_parag{
    width: 341px;
    height: 32px;
    left: 55px;
    top: 173px;
}

.erase_block {
    width: 109px;
    height: 10px;
    left: 396px;
    top: 173px;
}

.splayed_left_example {
    width: 128px;
    height: 14px;
    left: 55px;
    top: 261px;
    text-align: center;
}

.splayed_right_example {
    width: 140px;
    height: 14px;
    left: 210px;
    top: 261px;
    text-align: center;
}

.splayed_up_example {
    width: 140px;
    height: 14px;
    left: 365px;
    top: 261px;
    text-align: center;
}

.empty_piles_title {
    width: 145px;
    height: 23px;
    left: 55px;
    top: 276px;
    text-align: center;
    font-weight: bold;
}

.empty_piles_parag {
    width: 145px;
    height: 57px;
    left: 55px;
    top: 299px;
}

.icon_1_ages {
    width: 55px;
    height: 18px;
    left: 290px;
    top: 284px;
}

.icon_2_ages {
    width: 55px;
    height: 18px;
    left: 290px;
    top: 306px;
}

.icon_3_ages {
    width: 55px;
    height: 18px;
    left: 290px;
    top: 328px;
}

.icon_4_ages {
    width: 55px;
    height: 18px;
    left: 218px;
    top: 284px;
}

.icon_5_ages {
    width: 55px;
    height: 18px;
    left: 218px;
    top: 306px;
}

.icon_6_ages {
    width: 55px;
    height: 18px;
    left: 218px;
    top: 328px;
}

.colors_title {
    width: 67px;
    height: 18px;
    left: 359px;
    top: 284px;
    font-weight: bold;
}

.blue_icon {
    width: 39px;
    height: 18px;
    left: 359px;
    top: 306px;
}

.yellow_icon {
    width: 39px;
    height: 18px;
    left: 359px;
    top: 328px;
}

.red_icon {
    width: 47px;
    height: 18px;
    left: 427px;
    top: 284px;
}

.green_icon {
    width: 47px;
    height: 18px;
    left: 427px;
    top: 306px;
}

.purple_icon {
    width: 47px;
    height: 18px;
    left: 427px;
    top: 328px;
}

/* First and second action indicators */
.player-board {
    position: relative;
}

.action_1, .action_2 {
    display: inline-block;
    margin-left: 7px;
    width: 57px;
    height: 41px;
    background-size: 1103px 525px;
    background-image: url('img/Innovation_cards.jpg');
    position: relative;
}

.action_1 {
    background-position: -736px -483px;
}

.action_2 {
    background-position: -792px -483px;
}

.action_text {
    position: absolute;
    text-align: center;
    line-height: 15px; /* Force two lines of text */
    left: 5px;
    top: 5px;
    width: 47px;
    height: 30px;
    background-color: #bbaf85;
    font-weight: bold;
}

/* Decks and available achievements */
#decks_and_available_achievements {
    display: inline-block;
    margin-left: 10px;
}

#decks_and_available_achievements p {
    margin-bottom: 5px;
    margin-right: 5px;
}

#decks, #available_achievements_container, #available_special_achievements_container {
    vertical-align: top;
    margin-top: 30px;
    width: 208.45px;
}

/*decks*/
.deck_set, .deck_count, .deck {
    display: inline-block;
}

.deck_pile {
    height: 49px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.deck_count {
    height: 100%;
    margin-right: 2px;
    vertical-align: middle;
    text-align: left;
    width: 20px;
}

.deck {
    width: 80px;
    height: 100%;
}

/* Available achievements */
#achievements {
    margin-left: 45px;
}

#special_achievements {
    margin-left: 20px;
}

/* Texts */
.player > p {
    font-weight: bold;
    /* color is defined in the template */
}

.hand_container > div > p, .board > p, .text_left, .text_center {
    font-style: italic;
    margin: 0;
}


.score_container > p, .achievement_container > p {
    font-style: italic;
    font-size: 0.8em;
    position: absolute;
    top: 0px;
    margin: 0px;
}

.score_container > p {
    right: 3px;
    height: 16px;
    overflow-y: hidden;
    text-align: right;
}

.achievement_container > p {
    left: 3px;
    height: 16px;
    overflow-y: hidden;
}

.two_lines {
    top: -16px !important;
    height: 32px !important;
}

.text_left {
    margin-left: 20px;
}

.text_center {
    text-align: center;
}

/* Player panel */
.sep {
    display: inline-block;
    width: 23px;
}

.player_info {
    margin-top: 5px;
    margin-left: 36px;
}

.ressource_table {
    display: inline-block;
    margin-top: 5px;
}

.ressource {
    border-radius: 4px;
    width: 20px;
    text-align: center;
    font-size: 13px;
    color: #eeeeee;
}

.ressource.with_border {
    text-shadow: 1px 1px #000000;
}

.ressource_1 { /* crown */
    background-color:#e7ab22;
}

.ressource_2 { /* leaf */
    background-color:#153a1c;
}

.ressource_3 { /* bulb */
    background-color:#913c97;
}

.ressource_4 { /* tower */
    background-color:#404446;
}

.ressource_5 { /* factory */
    background-color:#850e04;
}

.ressource_6 { /* clock */
    background-color:#14247f;
}

.equal {
    color: #AAAAAA;
    font-weight: bold;
}

.more {
    color: green;
    font-weight: bold;
}

.less {
    color: red;
    font-weight: bold;
}

/* Within dogma, indicators of the current effect */ 

.current_effect {
    /*border: solid red 1px;*/
    background-color: rgba(255,0,0,.8);
    border-radius: 5px;
}

/* Number on the card indicating the age */

.card_age {
    color: white;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 3px;
}

.card_age.M {
    width: 15px;
    height: 15px;
}

.shape.M {
    background-image: url("img/transparent.png");
    background-size: 350px auto;
    position: absolute;
    left: 155px;
    top: 5px;
    width: 20px;
    height: 20px;
}

/* Shape on blue card */
.M.color_0.shape {
    background-position: -237px -25px;
}

/* Shape on red card */
.M.color_1.shape {
    background-position: -261px -25px;
}

/* Shape on green card */
.M.color_2.shape {
    background-position: -284px -25px;
}

/* Shape on yellow card */
.M.color_3.shape {
    background-position: -308px -25px;
}

/* Shape on purple card */
.M.color_4.shape {
    background-position: -331px -25px;
}

/* Title of the card */

.card_title {
    color: white;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    position: absolute;
}
    
/* Elements for rewriting card texts */

.i_demand, .immediately {
    font-weight: bold;
}

.card_effects {
    position: absolute;    
}

.effect_text {
    font-family: Tahoma, Arial, sans-serif;
}

.effect_text.light {
    color: black;
}

.effect_text.dark {
    color: white;
}

/* Elements inside the card in play */

.card_title.M {
    left: 53px;
    top: 7px;
    width: 95px;
    height: 15px;
}

.card_effects.M {
    left: 44px;
    top: 25px;
    width: 133px;
    height: 56px;
}

.effect.M:nth-of-type(n+2) {
    margin-top: 2px;
}

.effect.M {
    padding-left: 8px;
    padding-bottom: 1px;
    text-indent: -8px;
    line-height : 9px;
    border-width: 1px;
    border-style: solid;
}

/* Blue */
.effect.color_0, .square_card_icon.color_0 {
    border-color: #0e2a50;
}
.effect.color_0.light {
    background-color: #8bd2f1;
}
.effect.color_0.dark {
    background-color: #0e2a50;
}

/* Red */
.effect.color_1, .square_card_icon.color_1 {
    border-color: #5a090c;
}
.effect.color_1.light {
    background-color: #f7c3d2;
}
.effect.color_1.dark {
    background-color: #5a090c;
}

/* Green */
.effect.color_2, .square_card_icon.color_2 {
    border-color: #122c18;
}
.effect.color_2.light {
    background-color: #9dd19b;
}
.effect.color_2.dark {
    background-color: #122c18;
}

/* Yellow */
.effect.color_3, .square_card_icon.color_3 {
    border-color: #8b6a28;
}
.effect.color_3.light {
    background-color: #f4f4be;
}
.effect.color_3.dark {
    background-color: #8b6a28;
}

/* Purple */
.effect.color_4, .square_card_icon.color_4 {
    border-color: #220e40;
}
.effect.color_4.light {
    background-color: #b4bcd8;
}
.effect.color_4.dark {
    background-color: #220e40;
}

/* Elements inside the card in the tooltip */

.card_title.L {
    left: 128px;
    top: 7px;
    width: 220px;
    height: 31px;
    line-height: 31px; /* Ensure that the text is centered horizontally */
    border-width: 2px;
}

.card_effects.L {
    left: 127px;
    top: 43px;
    width: 321px;
    height: 145px;
}

.effect.L:nth-of-type(n+2) {
    margin-top: 10px;
}


.effect.L {
    padding-left: 19px;
    text-indent: -19px;
    line-height : 22px;
}

/* Elements inside the special achievement in tooltip */

.achievement_title, .condition_for_claiming, .alternative_condition_for_claiming {
    background-image: url('img/card_background.jpg');
    background-repeat: repeat;
}

.achievement_title {
    margin: auto;
    width: 420px;
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
    background-position: -9px -6px;
}

.condition_for_claiming {
    margin: auto;
    width: 420px;
    height: 175px;
    text-align: justify;
    text-justify: inter-word;
    background-position: -9px -38px;
}

.alternative_condition_for_claiming {
    margin-left: 120px;
    margin-top: 15px;
    width: 330px;
    height: 70px;
    letter-spacing: -1px;
    text-align: justify;
    text-justify: inter-word;
    font-style: italic;
    background-position: -17px -12px;
}

#note_for_monument {
    margin-top: 5px;
    font-size: 0.5em;
    text-align: justify;
    text-justify: inter-word;
    font-style: italic;
}

.clickable {
   box-shadow: 0 0 6px 3px rgb(27, 5, 154) !important;
}

.selected ,.clickable_important {
   box-shadow: 0 0 6px 3px rgb(178, 10, 10) !important;
}

.clickable:hover {
    cursor: pointer;
}

/* Indicators for splay */
.splay_indicator {
    margin: auto;
    margin-top: 5px;
    width: 16px;
    height: 16px;
}

.splay_0 { /* No icon */
}

.splay_1 {
    background-image: url('img/squares.png');
    background-position: -80px -0px;    
}

.splay_2 {
    background-image: url('img/squares.png');
    background-position: -96px -0px;    
}

.splay_3 {
    background-image: url('img/squares.png');
    background-position: -112px -0px;    
}

/* Context */
.in_tooltip {
    display: inline-block;
}

.M.in_tooltip {
    vertical-align: bottom;
}

.L.in_tooltip {
    vertical-align: middle;
}

.P.in_tooltip {
    vertical-align: middle;
}

.basic.in_tooltip {
    margin-right: 4px;
}

.tooltip td {
    vertical-align: middle;
}

.tooltip tr:nth-of-type(2)>td {
    padding-top: 10px;
}

.action * {
    text-align: justify;
    text-justify: distribute;
}

.action.in_tooltip  {
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-top: 1px solid #4871b6;
}

.possible_action {
    font-weight: bold;
}

.warning {
    color: red;
    font-weight: bold;
}

.name_in_tooltip {
    font-weight: bold;
}

.recap_dogma li {
    list-style-type: disc;
}

#logs .square {
    vertical-align: top;
    margin-top: 1px;   
}

.bgabutton .square {
    margin-top: 2px;
    vertical-align: top;
}

.with_white_border {
    border-right: 2px solid #ffffff;
}


.with_border {
    border-right: 2px solid #ebd5bd;
}


/* Square indicators */
.simple_stats {
    height: 19px;
}

.square {
    background-image: url('img/squares.png');
    display: inline-block;
}

.basic.square {
    width: 16px;
    height: 16px;
}

.icon_score.basic.square  {
    background-position: -0px -0px;
}

.icon_score.basic.square {
    margin-top: 2px;
    margin-left: 2px;
}

.icon_hand.basic.square {
    background-position: -16px -0px;
}

.icon_hand.basic.square {
    vertical-align: top;
    margin-top: 4px;
    margin-left: 3px;
}

.icon_age_indicator.basic.square {
    background-position: -64px -0px;
}

.icon_age_indicator.basic.square {
    vertical-align: top;
    margin-top: 4px;
    margin-left: 4px;
}

.icon_help.basic.square {
    background-position: -32px -0px;
}

.icon_action.basic.square {
    background-position: -48px -0px;
}

/* N: for squares in log (Notification) */
.N.square {
    width: 14px;
    height: 14px;
}

.icon_1.N.square  {
    background-position: -0px -16px;
}

.icon_2.N.square  {
    background-position: -14px -16px;
}

.icon_3.N.square  {
    background-position: -28px -16px;
}

.icon_4.N.square  {
    background-position: -42px -16px;
}

.icon_5.N.square  {
    background-position: -56px -16px;
}

.icon_6.N.square  {
    background-position: -70px -16px;
}

.age_1.N.square  {
    background-position: -0px -30px;
}

.age_2.N.square  {
    background-position: -14px -30px;
}

.age_3.N.square  {
    background-position: -28px -30px;
}

.age_4.N.square  {
    background-position: -42px -30px;
}

.age_5.N.square  {
    background-position: -56px -30px;
}

.age_6.N.square  {
    background-position: -70px -30px;
}

.age_7.N.square  {
    background-position: -84px -30px;
}

.age_8.N.square  {
    background-position: -98px -30px;
}

.age_9.N.square  {
    background-position: -112px -30px;
}

.age_10.N.square  {
    background-position: -126px -30px;
}

/* P: for squares in player Panels */
.P.square {
    width: 20px;
    height: 20px;
    background-image: url('img/images2.jpg');
    background-size: 133px 22px;
}

.icon_1.P.square  {
    background-position: -1px -1px;
}

.icon_2.P.square  {
    background-position: -23px -1px;
}

.icon_3.P.square  {
    background-position: -45px -1px;
}

.icon_4.P.square  {
    background-position: -68px -1px;
}

.icon_5.P.square  {
    background-position: -90px -1px;
}

.icon_6.P.square  {
    background-position: -112px -1px;
}

/* M: for squares used with cards of size M */
.M.square {
    width: 9px;
    height: 9px;
}

.icon_1.M.square  {
    background-position: -0px -64px;
}

.icon_2.M.square  {
    background-position: -9px -64px;
}

.icon_3.M.square  {
    background-position: -18px -64px;
}

.icon_4.M.square  {
    background-position: -27px -64px;
}

.icon_5.M.square  {
    background-position: -36px -64px;
}

.icon_6.M.square  {
    background-position: -45px -64px;
}

.age_1.M.square, .age_2.M.square, .age_3.M.square, .age_4.M.square, .age_5.M.square, .age_6.M.square, .age_7.M.square, .age_8.M.square, .age_9.M.square, .age_10.M.square  {
    width: 8px;
    background-size: 80px, auto;
}

.age_1.M.square  {
    background-position: -0px -92px;
}

.age_2.M.square  {
    background-position: -8px -92px;
}

.age_3.M.square  {
    background-position: -16px -92px;
}

.age_3.M.square  {
    background-position: -18px -92px;
}

.age_4.M.square  {
    background-position: -24px -92px;
}

.age_5.M.square  {
    background-position: -32px -92px;
}

.age_6.M.square  {
    background-position: -40px -92px;
}

.age_7.M.square  {
    background-position: -48px -92px;
}

.age_8.M.square  {
    background-position: -56px -92px;
}

.age_9.M.square  {
    background-position: -64px -92px;
}

.age_10.M.square  {
    background-position: -72px -92px;
}

/* L: for squares used with cards of size L */
.L.square {
    width: 19px;
    height: 19px;
}

.icon_1.L.square  {
    background-position: -0px -82px;
}

.icon_2.L.square  {
    background-position: -19px -82px;
}

.icon_3.L.square  {
    background-position: -38px -82px;
}

.icon_4.L.square  {
    background-position: -57px -82px;
}

.icon_5.L.square  {
    background-position: -76px -82px;
}

.icon_6.L.square  {
    background-position: -95px -82px;
}

.all_icons.L {
    background-image: url('img/squares.png');
    display: inline-block;
    width: 114px;
    height: 19px;
    background-position: -0px -82px;
}

.age_1.L.square  {
    background-position: -0px -101px;
}

.age_2.L.square  {
    background-position: -19px -101px;
}

.age_3.L.square  {
    background-position: -38px -101px;
}

.age_4.L.square  {
    background-position: -57px -101px;
}

.age_5.L.square  {
    background-position: -76px -101px;
}

.age_6.L.square  {
    background-position: -95px -101px;
}

.age_7.L.square  {
    background-position: -114px -101px;
}

.age_8.L.square  {
    background-position: -133px -101px;
}

.age_9.L.square  {
    background-position: -152px -101px;
}

.age_10.L.square  {
    background-position: -171px -101px;
}

/* Buttons for rearranging in Publication dogma effect */
#publication_arrow_up, #publication_arrow_down {
    position: absolute;
    left: 0px;
    font-weight: bolder;
    font-size: 25px;
    padding-bottom: 8px;
}

#publication_arrow_up {
    top: 0px;
}


#publication_arrow_down {
    top: 80px;
}

#publication_cancel {
    margin-right: 10px;
}

/* Back of cards */

.recto {
    display: inline-block;
    background-image: url('img/images4.jpg');
    position: relative;
    border: solid 1px #ffffff;
}

.S.recto {
    width: 31px;
    height: 45px;
    background-size: 360px 49px;
    border-radius: 3px;
    box-shadow: -1px 1px grey;
}

.L.recto {
    width: 316px;
    height: 456px;
    border-radius: 16px;
    box-shadow: 5px 5px grey;
}

/* Front of cards */

.card {
    display: inline-block;
    background-image: url('img/images.jpg');
    position: relative;
    border: solid 1px #ffffff;
}

/* Cards of size S, flipped */
.S.card {
    width: 45px;
    height: 31px;
    background-size: 430px 35px;
    box-shadow: 1px 1px grey;
}

.L.recto {
    width: 316px;
    height: 456px;
    border-radius: 16px;
    box-shadow: 5px 5px grey;
}

/* Front of cards */

.card {
    display: inline-block;
    background-image: url('img/images.jpg');
    position: relative;
    border: solid 1px #ffffff;
}

/* Cards of size S, flipped */
.S.card {
    width: 45px;
    height: 31px;
    background-size: 735px 350px;
    box-shadow: 1px 1px grey;
}

/* Cards of size M */
.M.card {
    width: 180px;
    height: 124px;
    background-size: 1465px 135px;
    border-radius: 6px;
    box-shadow: 3px 3px grey;
}

/* Cards of size L */
.L.card {
    width: 456px;
    height: 316px;
    border-radius: 16px;
    box-shadow: 5px 5px grey;
}

/* Locations where the square and hexagon icons go on each card */

.M.top_left_icon.square_card_icon {
    top: 7px;
    left: 8px;
}

.M.top_left_icon.hexagon_card_icon {
    top: 7px;
    left: 7px;
}

.M.bottom_left_icon.square_card_icon {
    top: 86px;
    left: 8px;
}

.M.bottom_left_icon.hexagon_card_icon {
    top: 85px;
    left: 7px;
}

.M.bottom_center_icon.square_card_icon {
    top: 86px;
    left: 73px;
}

.M.bottom_center_icon.hexagon_card_icon {
    top: 85px;
    left: 73px;
}

.M.bottom_right_icon.square_card_icon {
    top: 86px;
    left: 138px;

}

.M.bottom_right_icon.hexagon_card_icon {
    top: 85px;
    left: 137px;

}

/* Square card icons (most cards have 3 large resource icons on them) */

.square_card_icon {
    background-image: url('img/images2.jpg');
    background-size: 180px 30px;
    position: absolute;
    border-width: 1px;
    border-style: solid;
}

.M.square_card_icon {
    width: 30px;
    height: 30px;
}

.M.icon_1.square_card_icon  {
    background-position: -0px -0px;
}

.M.icon_2.square_card_icon  {
    background-position: -30px -0px;
}

.M.icon_3.square_card_icon  {
    background-position: -60px -0px;
}

.M.icon_4.square_card_icon  {
    background-position: -90px -0px;
}

.M.icon_5.square_card_icon  {
    background-position: -120px -0px;
}

.M.icon_6.square_card_icon  {
    background-position: -150px -0px;
}

.hexagon_card_icon {
    background-image: url("img/transparent.png");
    background-size: 600px, auto;
    position: absolute;
}

.M.hexagon_card_icon {
    width: 35px;
    height: 35px;
}

.M.hexagon_card_icon.hexagon_icon_0  {
    background-position: 3px -3px;
}

.age_1.S.recto {
    background-position: -1px -2px;
}

.age_2.S.recto {
    background-position: -34px -2px;
}

.age_3.S.recto {
    background-position: -67px -2px;
}

.age_4.S.recto {
    background-position: -99px -2px;
}

.age_5.S.recto {
    background-position: -132px -2px;
}

.age_6.S.recto {
    background-position: -165px -2px;
}

.age_7.S.recto {
    background-position: -197px -2px;
}

.age_8.S.recto {
    background-position: -230px -2px;
}

.age_9.S.recto {
    background-position: -263px -2px;
}

.age_10.S.recto {
    background-position: -295px -2px;
}

/* Special achievements */

.item_105.S.recto {
    background-position: -702px -107px;
}

.item_106.S.recto {
    background-position: -702px -156px;
}

.item_107.S.recto {
    background-position: -702px -205px;
}

.item_108.S.recto {
    background-position: -702px -254px;
}

.item_109.S.recto {
    background-position: -702px -303px;
}

/* Blue card */
.color_0.M.card {
    background-position: -2px -2px;
}

/* Red card */
.color_1.M.card {
    background-position: -186px -2px;
}

/* Green card */
.color_2.M.card {
    background-position: -369px -2px;
}

/* Yellow card */
.color_3.M.card {
    background-position: -553px -2px;
}

/* Purple card */
.color_4.M.card {
    background-position: -736px -2px;
}

/* Auto-generated by css_generator_for_sprites.py (Python script) */

/* Auto-generated by css_generator_for_sprites.py (Python script) */

.font_size_1 {
	font-size: 1px;
}

.font_size_2 {
	font-size: 2px;
}

.font_size_3 {
	font-size: 3px;
}

.font_size_4 {
	font-size: 4px;
}

.font_size_5 {
	font-size: 5px;
}

.font_size_6 {
	font-size: 6px;
}

.font_size_7 {
	font-size: 7px;
}

.font_size_8 {
	font-size: 8px;
}

.font_size_9 {
	font-size: 9px;
}

.font_size_10 {
	font-size: 10px;
}

.font_size_11 {
	font-size: 11px;
}

.font_size_12 {
	font-size: 12px;
}

.font_size_13 {
	font-size: 13px;
}

.font_size_14 {
	font-size: 14px;
}

.font_size_15 {
	font-size: 15px;
}

.font_size_16 {
	font-size: 16px;
}

.font_size_17 {
	font-size: 17px;
}

.font_size_18 {
	font-size: 18px;
}

.font_size_19 {
	font-size: 19px;
}

.font_size_20 {
	font-size: 20px;
}

.font_size_21 {
	font-size: 21px;
}

.font_size_22 {
	font-size: 22px;
}

.font_size_23 {
	font-size: 23px;
}

.font_size_24 {
	font-size: 24px;
}

.font_size_25 {
	font-size: 25px;
}

.font_size_26 {
	font-size: 26px;
}

.font_size_27 {
	font-size: 27px;
}

.font_size_28 {
	font-size: 28px;
}

.font_size_29 {
	font-size: 29px;
}

.font_size_30 {
	font-size: 30px;
}

.M.hexagon_card_icon.hexagon_icon_0 {
	background-position: -3px -3px;
}

.M.hexagon_card_icon.hexagon_icon_1 {
	background-position: -43px -3px;
}

.M.hexagon_card_icon.hexagon_icon_2 {
	background-position: -83px -3px;
}

.M.hexagon_card_icon.hexagon_icon_3 {
	background-position: -123px -3px;
}

.M.hexagon_card_icon.hexagon_icon_4 {
	background-position: -163px -3px;
}

.M.hexagon_card_icon.hexagon_icon_5 {
	background-position: -203px -3px;
}

.M.hexagon_card_icon.hexagon_icon_6 {
	background-position: -243px -3px;
}

.M.hexagon_card_icon.hexagon_icon_7 {
	background-position: -283px -3px;
}

.M.hexagon_card_icon.hexagon_icon_8 {
	background-position: -323px -3px;
}

.M.hexagon_card_icon.hexagon_icon_9 {
	background-position: -363px -3px;
}

.M.hexagon_card_icon.hexagon_icon_10 {
	background-position: -403px -3px;
}

.M.hexagon_card_icon.hexagon_icon_11 {
	background-position: -443px -3px;
}

.M.hexagon_card_icon.hexagon_icon_12 {
	background-position: -483px -3px;
}

.M.hexagon_card_icon.hexagon_icon_13 {
	background-position: -523px -3px;
}

.M.hexagon_card_icon.hexagon_icon_14 {
	background-position: -563px -3px;
}

.M.hexagon_card_icon.hexagon_icon_15 {
	background-position: -3px -43px;
}

.M.hexagon_card_icon.hexagon_icon_16 {
	background-position: -43px -43px;
}

.M.hexagon_card_icon.hexagon_icon_17 {
	background-position: -83px -43px;
}

.M.hexagon_card_icon.hexagon_icon_18 {
	background-position: -123px -43px;
}

.M.hexagon_card_icon.hexagon_icon_19 {
	background-position: -163px -43px;
}

.M.hexagon_card_icon.hexagon_icon_20 {
	background-position: -203px -43px;
}

.M.hexagon_card_icon.hexagon_icon_21 {
	background-position: -243px -43px;
}

.M.hexagon_card_icon.hexagon_icon_22 {
	background-position: -283px -43px;
}

.M.hexagon_card_icon.hexagon_icon_23 {
	background-position: -323px -43px;
}

.M.hexagon_card_icon.hexagon_icon_24 {
	background-position: -363px -43px;
}

.M.hexagon_card_icon.hexagon_icon_25 {
	background-position: -3px -83px;
}

.M.hexagon_card_icon.hexagon_icon_26 {
	background-position: -43px -83px;
}

.M.hexagon_card_icon.hexagon_icon_27 {
	background-position: -83px -83px;
}

.M.hexagon_card_icon.hexagon_icon_28 {
	background-position: -123px -83px;
}

.M.hexagon_card_icon.hexagon_icon_29 {
	background-position: -163px -83px;
}

.M.hexagon_card_icon.hexagon_icon_30 {
	background-position: -203px -83px;
}

.M.hexagon_card_icon.hexagon_icon_31 {
	background-position: -243px -83px;
}

.M.hexagon_card_icon.hexagon_icon_32 {
	background-position: -283px -83px;
}

.M.hexagon_card_icon.hexagon_icon_33 {
	background-position: -323px -83px;
}

.M.hexagon_card_icon.hexagon_icon_34 {
	background-position: -363px -83px;
}

.M.hexagon_card_icon.hexagon_icon_35 {
	background-position: -3px -123px;
}

.M.hexagon_card_icon.hexagon_icon_36 {
	background-position: -43px -123px;
}

.M.hexagon_card_icon.hexagon_icon_37 {
	background-position: -83px -123px;
}

.M.hexagon_card_icon.hexagon_icon_38 {
	background-position: -123px -123px;
}

.M.hexagon_card_icon.hexagon_icon_39 {
	background-position: -163px -123px;
}

.M.hexagon_card_icon.hexagon_icon_40 {
	background-position: -203px -123px;
}

.M.hexagon_card_icon.hexagon_icon_41 {
	background-position: -243px -123px;
}

.M.hexagon_card_icon.hexagon_icon_42 {
	background-position: -283px -123px;
}

.M.hexagon_card_icon.hexagon_icon_43 {
	background-position: -323px -123px;
}

.M.hexagon_card_icon.hexagon_icon_44 {
	background-position: -363px -123px;
}

.M.hexagon_card_icon.hexagon_icon_45 {
	background-position: -3px -163px;
}

.M.hexagon_card_icon.hexagon_icon_46 {
	background-position: -43px -163px;
}

.M.hexagon_card_icon.hexagon_icon_47 {
	background-position: -83px -163px;
}

.M.hexagon_card_icon.hexagon_icon_48 {
	background-position: -123px -163px;
}

.M.hexagon_card_icon.hexagon_icon_49 {
	background-position: -163px -163px;
}

.M.hexagon_card_icon.hexagon_icon_50 {
	background-position: -203px -163px;
}

.M.hexagon_card_icon.hexagon_icon_51 {
	background-position: -243px -163px;
}

.M.hexagon_card_icon.hexagon_icon_52 {
	background-position: -283px -163px;
}

.M.hexagon_card_icon.hexagon_icon_53 {
	background-position: -323px -163px;
}

.M.hexagon_card_icon.hexagon_icon_54 {
	background-position: -363px -163px;
}

.M.hexagon_card_icon.hexagon_icon_55 {
	background-position: -3px -203px;
}

.M.hexagon_card_icon.hexagon_icon_56 {
	background-position: -43px -203px;
}

.M.hexagon_card_icon.hexagon_icon_57 {
	background-position: -83px -203px;
}

.M.hexagon_card_icon.hexagon_icon_58 {
	background-position: -123px -203px;
}

.M.hexagon_card_icon.hexagon_icon_59 {
	background-position: -163px -203px;
}

.M.hexagon_card_icon.hexagon_icon_60 {
	background-position: -203px -203px;
}

.M.hexagon_card_icon.hexagon_icon_61 {
	background-position: -243px -203px;
}

.M.hexagon_card_icon.hexagon_icon_62 {
	background-position: -283px -203px;
}

.M.hexagon_card_icon.hexagon_icon_63 {
	background-position: -323px -203px;
}

.M.hexagon_card_icon.hexagon_icon_64 {
	background-position: -363px -203px;
}

.M.hexagon_card_icon.hexagon_icon_65 {
	background-position: -3px -243px;
}

.M.hexagon_card_icon.hexagon_icon_66 {
	background-position: -43px -243px;
}

.M.hexagon_card_icon.hexagon_icon_67 {
	background-position: -83px -243px;
}

.M.hexagon_card_icon.hexagon_icon_68 {
	background-position: -123px -243px;
}

.M.hexagon_card_icon.hexagon_icon_69 {
	background-position: -163px -243px;
}

.M.hexagon_card_icon.hexagon_icon_70 {
	background-position: -203px -243px;
}

.M.hexagon_card_icon.hexagon_icon_71 {
	background-position: -243px -243px;
}

.M.hexagon_card_icon.hexagon_icon_72 {
	background-position: -283px -243px;
}

.M.hexagon_card_icon.hexagon_icon_73 {
	background-position: -323px -243px;
}

.M.hexagon_card_icon.hexagon_icon_74 {
	background-position: -363px -243px;
}

.M.hexagon_card_icon.hexagon_icon_75 {
	background-position: -3px -283px;
}

.M.hexagon_card_icon.hexagon_icon_76 {
	background-position: -43px -283px;
}

.M.hexagon_card_icon.hexagon_icon_77 {
	background-position: -83px -283px;
}

.M.hexagon_card_icon.hexagon_icon_78 {
	background-position: -123px -283px;
}

.M.hexagon_card_icon.hexagon_icon_79 {
	background-position: -163px -283px;
}

.M.hexagon_card_icon.hexagon_icon_80 {
	background-position: -203px -283px;
}

.M.hexagon_card_icon.hexagon_icon_81 {
	background-position: -243px -283px;
}

.M.hexagon_card_icon.hexagon_icon_82 {
	background-position: -283px -283px;
}

.M.hexagon_card_icon.hexagon_icon_83 {
	background-position: -323px -283px;
}

.M.hexagon_card_icon.hexagon_icon_84 {
	background-position: -363px -283px;
}

.M.hexagon_card_icon.hexagon_icon_85 {
	background-position: -3px -323px;
}

.M.hexagon_card_icon.hexagon_icon_86 {
	background-position: -43px -323px;
}

.M.hexagon_card_icon.hexagon_icon_87 {
	background-position: -83px -323px;
}

.M.hexagon_card_icon.hexagon_icon_88 {
	background-position: -123px -323px;
}

.M.hexagon_card_icon.hexagon_icon_89 {
	background-position: -163px -323px;
}

.M.hexagon_card_icon.hexagon_icon_90 {
	background-position: -203px -323px;
}

.M.hexagon_card_icon.hexagon_icon_91 {
	background-position: -243px -323px;
}

.M.hexagon_card_icon.hexagon_icon_92 {
	background-position: -283px -323px;
}

.M.hexagon_card_icon.hexagon_icon_93 {
	background-position: -323px -323px;
}

.M.hexagon_card_icon.hexagon_icon_94 {
	background-position: -363px -323px;
}

.M.hexagon_card_icon.hexagon_icon_95 {
	background-position: -3px -363px;
}

.M.hexagon_card_icon.hexagon_icon_96 {
	background-position: -43px -363px;
}

.M.hexagon_card_icon.hexagon_icon_97 {
	background-position: -83px -363px;
}

.M.hexagon_card_icon.hexagon_icon_98 {
	background-position: -123px -363px;
}

.M.hexagon_card_icon.hexagon_icon_99 {
	background-position: -163px -363px;
}

.M.hexagon_card_icon.hexagon_icon_100 {
	background-position: -203px -363px;
}

.M.hexagon_card_icon.hexagon_icon_101 {
	background-position: -243px -363px;
}

.M.hexagon_card_icon.hexagon_icon_102 {
	background-position: -283px -363px;
}

.M.hexagon_card_icon.hexagon_icon_103 {
	background-position: -323px -363px;
}

.M.hexagon_card_icon.hexagon_icon_104 {
	background-position: -363px -363px;
}
