@use "sass:math";
@use "misc/variables" as v;
@use "misc/mixins" as m;
@import "../../../css/csslayer.css";


/* codex for numbers and symbols
 *
 * **Icons**
 * icon_0 - Hexagon
 * icon_1 - PROSPERITY
 * icon_2 - HEALTH
 * icon_3 - CONCEPT
 * icon_4 - AUTHORITY
 * icon_5 - INDUSTRY
 * icon_6 - EFFICIENCY
 * icon_7 - AVATAR
 *
 * **Colors**
 * color_0 - blue
 * color_1 - red
 * color_2 - green
 * color_3 - yellow
 * color_4 - purple
 */


#main_area_wrapper {
    display: flex;
}

#main_area {
    display: inline-block;
    vertical-align: top;
}

.minor_information {
    font-size: 0.8em;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.log {
    >.roundedbox {
        &:empty {
            margin: 0;
            padding: 0;
            height: 2px;
            background-color: #ebd5bd;
        }
    }
}

#debug_card_list,
#debug_color_list {
    height: 30px;
}

.debug_button {
    width: 160px;
}

.card_name {
    font-weight: bold;
    font-style: normal;
    color: black;
    .action-button & {
        color: white;
    }
}

.player.whiteblock {
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    position: relative;

    >p {
        >span {
            font-weight: normal;
        }
    }

    &:nth-last-of-type(n + 2) {
        margin-bottom: 20px;
    }

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.display_container {
    background-color: #FFFFFF;
    border: 1px solid black;
    width: 195px;
    height: 165px;
    margin-bottom: 5px;

    >div {
        padding: 5px;
        height: -webkit-fill-available;

        >p {
            font-style: italic;
            margin: 0;
        }
    }

    .display {
        top: 5px;
        padding-bottom: 12px;
    }
}

.museums_container {
    flex-grow: 1;
    background-color: #FFFFFF;
    border: 1px solid black;
    width: 195px;
    height: 165px;
    margin-bottom: 5px;
    margin-left: 4px;

    >div {
        padding: 5px;
        height: -webkit-fill-available;

        >p {
            font-style: italic;
            margin: 0;
        }
    }

    .museums {
        top: 5px;
        padding-bottom: 12px;
    }
}

.hand_container {
    background-color: #FFFFFF;
    border: 1px solid black;

    >div {
        background-color: #ebd5bd;
        padding: 5px;
        padding-bottom: 12px;

        >p {
            font-style: italic;
            margin: 0;
        }
    }

    .hand {
        top: 5px;
    }
}

.revealed_container {
    padding: 5px;
    width: 182px;
    margin: auto;
}

#display_button_bar {
    height: 49px;
}

#change_display_mode_button,
#change_view_full_button,
#browse_all_cards_button {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, .5);
    border-style: dotted;
}

#browse_cards_buttons_row_1,
#browse_cards_buttons_row_2 {
    text-align: center;
}

.browse_cards_button {
    margin: 10px;

    &.selected {
        background: #dedede;
        box-shadow: inset 0px 0px 5px #676767;
    }
}

#browse_special_achievements_button, #browse_junk_button {
    display: flex;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

#special_achievement_summaries.heightless,
#special_achievement_selections.heightless {
    height: 0px;
    visibility: hidden;
}

.special_achievement_summary {
    display: flex;
    vertical-align: middle;
    opacity: 0.3;

    &.unclaimed {
        opacity: 1;
    }
}

.special_achievement_selection {
    display: flex;
    vertical-align: middle;
    opacity: 1;
}

.special_achievement_selection>.special_achievement_text {
    padding-right: 10px;
}

.select_special_achievement_button {
    min-width: 50px;
    text-align: center;
}

.special_achievement_icon {
    float: left;
    min-width: 45px;
    max-width: 45px;
}

.special_achievement_status {
    text-align: center;
    font-weight: bold;
}

.special_achievement_text {
    vertical-align: middle;
    padding-left: 10px;
}

.disabled {
    color: grey !important;
    border-color: grey;

    &:hover {
        color: grey !important;
        border-color: grey;
        cursor: auto;
    }
}

.board {
    min-height: 171px;

    >p {
        font-style: italic;
        margin: 0;
    }
}

.pile_container {
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    display: inline-block;
}

.pile_count {
    align-items: center;
    text-align: center;
    position: absolute;
    margin-right: 2px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #f4f1f1;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    z-index: 100;
}

.pile {
    min-height: 126px;
}

.progress, .artifacts {
    display: flex;
}

.forecast_container, .score_container, .achievement_container, .safe_container {
    flex-grow: 1;
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 1px;
    margin-left: 1px;
    background-color: white;
    border: 1px solid black;

    div {
        height: 100%;
    }

    p {
        font-style: italic;
        padding-right: 3px;
        font-size: 0.8em;
        position: absolute;
        top: 0px;
        margin: 0px;
        left: 3px;
        height: 32px;
        overflow-y: hidden;
        text-align: left;
    }
}

.forecast,
.score,
.achievements,
.safe {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 34px;
    display: inline-block;
    height: 49px;
}

.forecast_show_window,
.score_show_window {
    text-decoration: underline;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.player-board {
    position: relative;
}

.action_card {
    display: inline-block;
    margin-left: 7px;
    width: 57px;
    height: 36px;
    background-image: url('img/action_card.jpg');
    background-size: 57px 36px;
    background-position: -0px -0px;
    position: relative;
}

.action_text {
    position: absolute;
    text-align: center;
    line-height: 12px;
    top: 7px;
    width: 47px;
    height: 29px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
}

#decks_and_available_achievements {
    display: flex;
    width: 208.45px;
    margin-left: 10px;

    p {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

#decks_title {
    margin-top: 30px;
    width: 208.45px;
}

#decks {
    vertical-align: top;
    justify-content: center;
    width: 208.45px;
}

#decks_1,
#decks_2 {
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 3px;
}

#available_relics_container,
#available_achievements_container,
#available_special_achievements_container,
#available_museums_container,
#junk_container {
    vertical-align: top;
    margin-top: 30px;
    width: 208.45px;
}

#junk_header {
    height: 15px !important;
}

.deck_set {
    display: inline-block;

    >.deck_pile {
        display: flex;
        height: 49px;
        margin-bottom: 5px;
        margin-right: 5px;

        &.three_sets {
            padding-top: 10px;
            padding-left: 20px;
        }

        &.four_sets {
            padding-top: 10px;
            padding-left: 5px;
        }

        &.five_sets {
            padding-top: 10px;
            padding-left: 0px;
        }

        >.deck {
            display: inline-block;
            width: 80px;
            height: 100%;
        }

        >.deck_count {
            align-items: center;
            margin-right: 2px;
            width: 20px;
            display: flex;

            &.three_sets,
            &.four_sets,
            &.five_sets {
                display: inline-block;
                text-align: center;
                position: absolute;
                background: #f4f1f1;
                color: #000000;
                border: 1px solid #000000;
                border-radius: 50%;
                z-index: 100;
            }

            &.three_sets,
            &.four_sets {
                margin-left: -12.5px;
                margin-top: -12.5px;
                width: 25px;
                height: 25px;
                line-height: 25px;
            }

            &.five_sets {
                margin-left: -5px;
                margin-top: -7.5px;
                width: 22px;
                height: 22px;
                line-height: 22px;
            }
        }
    }
}

#relics, #achievements {
    margin-left: 45px;
}

#special_achievements {
    margin-left: 28px;
}

.player {
    >p {
        font-weight: bold;
    }
}

.text_left {
    font-style: italic;
    margin: 0;
    margin-left: 20px;
}

.text_center {
    font-style: italic;
    margin: 0;
    text-align: center;
}

.player_info {
    margin-top: 5px;
    margin-left: 3px;
}

.ressource_table {
    display: inline-block;
    margin-top: 5px;

    .ressource {
        border-radius: 4px;
        width: 20px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
    }

    .ressource.with_border {
        text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    }

    .ressource_1 {
        background-color: #e7ab22;
    }

    .ressource_2 {
        background-color: #153a1c;
    }

    .ressource_3 {
        background-color: #913c97;
    }

    .ressource_4 {
        background-color: #404446;
    }

    .ressource_5 {
        background-color: #850e04;
    }

    .ressource_6 {
        background-color: #14247f;
    }

    .ressource_7 {
        background-color: #000000;
    }
}


.equal {
    color: #AAAAAA !important;
}

.more {
    color: green !important;
}

.less {
    color: red !important;
}

.card_age {
    color: #e8e8e8;
    text-align: center;
    font-family: Times New Roman;
    font-weight: bold;
    position: absolute;

    &.M {
        width: 14px;
        height: 14px;
        top: 4px;
        line-height: 16px;

        &.type_2 {
            top: 54px;
        }
    }

    &.L {
        width: 25px;
        height: 25px;
        top: 26px;
        line-height: 14px;

        &.type_2 {
            top: 154px;
        }
    }
}

.color_0 {
    &.card_age {
        &.M {
            right: 6.5px;

            &.type_2 {
                right: 18px;
            }
        }

        &.L {
            right: 21px;

            &.type_2 {
                right: 50px;
            }
        }
    }
}

.color_1 {
    &.card_age {
        &.M {
            right: 6px;

            &.type_2 {
                right: 18px;
            }
        }

        &.L {
            right: 21px;

            &.type_2 {
                right: 50px;
            }
        }
    }
}

.color_2 {
    &.card_age {
        &.M {
            right: 6.5px;

            &.type_2 {
                right: 18px;
            }
        }

        &.L {
            right: 20px;

            &.type_2 {
                right: 50px;
            }
        }
    }
}

.color_3 {
    &.card_age {
        &.M {
            right: 6px;

            &.type_2 {
                right: 18px;
            }
        }

        &.L {
            right: 22px;

            &.type_2 {
                right: 50px;
            }
        }
    }
}

.color_4 {
    &.card_age {
        &.M {
            right: 6.5px;

            &.type_2 {
                right: 18px;
            }
        }

        &.L {
            right: 22px;

            &.type_2 {
                right: 50px;
            }
        }
    }
}

.card_type {
    padding-top: 10px;
    font-style: italic;
    text-align: center;
}

.card_title {
    color: #e8e8e8;
    font-family: Times New Roman;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.M {
        left: 54px;
        top: 5px;
        width: 93px;
        height: 15px;

        &.type_2 {
            left: 50px;
            top: 54.5px;
            width: 80px;
        }
    }

    &.L {
        left: 143px;
        top: 18px;
        width: 230px;
        height: 37px;

        &.type_2 {
            left: 126px;
            top: 142px;
            width: 210px;
        }
    }
}

.i_demand,
.i_compel,
.immediately,
.possible_action,
.equal,
.more,
.less,
.name_in_tooltip,
.warning {
    font-weight: bold;
}

.card_effects {
    position: absolute;
}

.effect_text {
    font-family: 'tradegothiclt-condeighteen', Arial, sans-serif;

    &.light {
        color: black;
    }

    &.dark {
        color: #e8e8e8;
    }
}

.effect {
    position: relative;
    border-style: solid;
    border-width: 1px;
    padding-right: 1px;
    padding-bottom: 1px;

    &.M {
        &:nth-of-type(n+2) {
            margin-top: 2px;
        }

        padding-left: 9px;
        line-height: 8px;
    }

    &.L {
        &:nth-of-type(n+2) {
            margin-top: 10px;
        }

        padding-left: 19px;
        line-height: 22px;
    }
}

.card_effects {
    &.M {
        right: 2px;
        top: 23px;
        width: 129px;
        height: 56px;

        >.font_size_1,
        >.font_size_2,
        >.font_size_3,
        >.font_size_4,
        >.font_size_5 {
            >.effect.M {
                line-height: 5px;
            }
        }

        >.font_size_6 {
            >.effect.M {
                line-height: 6px;
            }
        }

        >.font_size_7 {
            >.effect.M {
                line-height: 7px;
            }
        }
    }

    &.L {
        left: 116px;
        top: 63px;
        width: 334px;
        height: 151px;
    }
}

.echo_effect {
    border-style: solid;
    border-width: 1px;

    &.color_0 {
        background-color: #b2def2;
        border-color: #0e2a50;
    }

    &.color_1 {
        background-color: #f7c3d2;
        border-color: #5a090c;
    }

    &.color_2 {
        background-color: #9dd19b;
        border-color: #122c18;
    }

    &.color_3 {
        background-color: #f4f4be;
        border-color: #8b6a28;
    }

    &.color_4 {
        background-color: #b4bcd8;
        border-color: #220e40;
    }
}

.effect.color_0 {
    border-color: #0e2a50;

    &.light {
        background-color: #b2def2;
    }

    &.dark {
        background-color: #0e2a50;
    }
}

.effect.color_1 {
    border-color: #5a090c;

    &.light {
        background-color: #f7c3d2;
    }

    &.dark {
        background-color: #5a090c;
    }
}

.effect.color_2 {
    border-color: #122c18;

    &.light {
        background-color: #9dd19b;
    }

    &.dark {
        background-color: #122c18;
    }
}

.effect.color_3 {
    border-color: #8b6a28;

    &.light {
        background-color: #f4f4be;
    }

    &.dark {
        background-color: #8b6a28;
    }
}

.effect.color_4 {
    border-color: #220e40;

    &.light {
        background-color: #b4bcd8;
    }

    &.dark {
        background-color: #220e40;
    }
}

.current_effect {
    box-shadow: 0px 0px 6px 2px #fff;

    &.light {
        background-color: rgb(255 255 255) !important;
    }

    &.dark {
        background-color: rgb(0 0 0) !important;
    }
}

.clickable {
    box-shadow: 0 0 6px 3px rgb(27, 5, 154) !important;

    &:hover {
        cursor: pointer;
    }

    &.mid_dogma {
        box-shadow: 0 0 6px 3px rgb(154, 5, 5) !important;
    }

    &.can_endorse {
        box-shadow: 0 0 6px 3px rgb(252, 0, 184) !important;
    }
}

.selected {
    box-shadow: 0 0 6px 3px white !important;
}

.splay_indicator {
    margin: auto;
    margin-top: 5px;
    width: 16px;
    height: 16px;

    &.splay_1,
    &.splay_2,
    &.splay_3,
    &.splay_4 {
        @include m.squares-background;
    }

    &.splay_1 {
        background-position-x: -80px;
    }

    &.splay_2 {
        background-position-x: -96px;
    }

    &.splay_3,
    &.splay_4 {
        background-position-x: -112px;
    }

    &.splay_4 {
        transform: rotate(45deg);
    }
}

.in_tooltip {
    display: inline-block;

    &.M {
        vertical-align: bottom;
    }

    &.L {
        vertical-align: text-bottom;
    }

    &.P {
        vertical-align: middle;
    }

    &.basic {
        margin-right: 4px;
    }
}

.tooltip {
    td {
        vertical-align: middle;
    }

    tr {
        &:nth-of-type(2) {
            >td {
                padding-top: 10px;
            }
        }
    }
}

.action {
    * {
        text-align: justify;
        text-justify: distribute;
    }

    &.in_tooltip {
        margin-top: 20px;
        margin-right: 20px;
        padding-left: 20px;
        border-top: 1px solid #4871b6;
    }
}

.warning {
    color: red;
}

.recap_dogma {
    li {
        list-style-type: disc;
        margin-left: 10px;
    }
}

#logs {
    .square {
        vertical-align: top;
        margin-top: 1px;
    }
}

.bgabutton {
    .square {
        margin-top: 2px;
        vertical-align: top;
    }
}

.with_white_border {
    border-right: 2px solid #ffffff;
}

.with_border {
    border-right: 2px solid #ebd5bd;
}

.dogma_symbol {
    position: absolute;
}

.simple_stats {
    height: 19px;
}

.score_count,
.hand_count,
.max_age_on_board {
    padding-right: 5px;
}

.square {
    display: inline-block;

    &.basic {
        @include m.squares-background;
        width: 16px;
        height: 16px;

        &.icon_score {
            background-position: -0px -0px;
            margin-top: 2px;
            margin-left: 2px;
        }

        &.icon_hand {
            background-position: -16px -0px;
            vertical-align: top;
            margin-top: 4px;
            margin-left: 3px;
        }

        &.icon_age_indicator {
            background-position: -64px -0px;
            vertical-align: top;
            margin-top: 4px;
            margin-left: 4px;
        }

        &.icon_help {
            background-position: -32px -0px;
        }

        &.icon_action {
            background-position: -48px -0px;
        }
    }

    &.N {

        &.icon_1,
        &.icon_2,
        &.icon_3,
        &.icon_4,
        &.icon_5,
        &.icon_6,
        &.icon_7 {
            @include m.icon-background;
            background-size: 92px auto;
            background-position-y: -77px;
            width: 14px;
            height: 14px;
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 14px auto;
            background-position: 0px 0px !important;
        }

        #pagemaintitletext>&.age {
            top: -2px;
            position: relative;
        }

        &.music_note {
            width: 16px;
            height: 16px;
            position: relative;
            top: -1px;
            background-image: url("img/hexagon_icons_echoes.png");
            background-size: 306px auto !important;
            background-position: -226px -22px !important;
        }

        &.age {
            @include m.square-age;
            font-size: 11px;
            line-height: 12px;
            width: 13px;
            height: 12px;

            &.type_0,
            &.type_1,
            &.type_2,
            &.type_3,
            &.type_4 {
                border: 1px solid black;
                color: black;
                font-weight: bold;
            }

            &.type_0 {
                background-color: #f0d68c;
            }

            &.type_1 {
                background-color: #d2b7ff;
            }

            &.type_2 {
                background-color: #ff9fe5;
            }

            &.type_3 {
                background-color: #88d2ff;
            }

            &.type_4 {
                background-color: #16eb54;
            }
        }

        @include m.generate-icon-x-position(1, 6, 0, 15.5px);
    }

    &.P {
        width: 20px;
        height: 20px;
        @include m.icon-background;
        background-size: 133px auto;
        background-position-y: -112px;
        @include m.generate-icon-x-position(1, 7, 1, 22.1px);

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 20px auto;
            background-position: 0px 0px !important;
        }
    }

    &.M {
        width: 9px;
        height: 9px;
        vertical-align: middle;

        &.icon_0 {
            width: 8px;
            height: 8px;
            background-image: url("img/hexagon_icons_echoes.png");
            background-size: 153px auto !important;
            background-position: -103px -11px !important;
        }

        &.icon_1,
        &.icon_2,
        &.icon_3,
        &.icon_4,
        &.icon_5,
        &.icon_6,
        &.icon_7 {
            width: 4px;
            height: 4px;
            @include m.icon-background;
            border: 0.25px solid black;
            margin-top: -1px;
            margin-bottom: -1px;
            line-height: 4px;

            .font_size_7 &,
            .font_size_8 &,
            .font_size_9 &,
            .font_size_10 &,
            .font_size_11 & {
                width: 8px;
                height: 8px;
            }
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 8px auto !important;
            background-position: 0px 0px !important;
        }

        &.music_note {
            width: 8px;
            height: 8px;
            background-image: url("img/hexagon_icons_echoes.png");
            background-size: 153px auto !important;
            background-position: -113px -11px !important;
        }

        .font_size_1 &,
        .font_size_2 &,
        .font_size_3 &,
        .font_size_4 &,
        .font_size_5 &,
        .font_size_6 & {
            background-size: 25px auto;
            background-position-y: -21px;
            @include m.generate-icon-x-position(1, 6, 0, 4.1666667px);
        }

        .font_size_7 &,
        .font_size_8 &,
        .font_size_9 &,
        .font_size_10 &,
        .font_size_11 & {
            background-size: 50px auto;
            background-position-y: -42px;
            border: none; // At this size, it looks better without a border since there's a white border from the image.
            @include m.generate-icon-x-position(1, 6, 0, 8.3333333px);
        }

        &.age {
            @include m.square-age;
            border-width: 0.5px;
        }

        .font_size_1 &.age,
        .font_size_2 &.age,
        .font_size_3 &.age,
        .font_size_4 &.age {
            width: 4px;
            height: 4px;
            font-size: 3px;
            line-height: 4px;
        }

        .font_size_5 &.age {
            width: 5px;
            height: 5px;
            font-size: 4px;
            line-height: 5px;
        }

        .font_size_6 &.age {
            width: 6px;
            height: 6px;
            font-size: 5px;
            line-height: 6px;
        }

        .font_size_7 &.age {
            width: 8px;
            height: 8px;
            font-size: 7px;
            line-height: 8px;
        }

        .font_size_8 &.age,
        .font_size_9 &.age,
        .font_size_10 &.age,
        .font_size_11 &.age {
            width: 9px;
            height: 9px;
            font-size: 8px;
            line-height: 9px;
        }
    }

    &.L {
        width: 19px;
        height: 19px;

        &.icon_0 {
            width: 24px;
            height: 24px;
            position: relative;
            top: 4px;
            background-image: url("img/hexagon_icons_echoes.png");
            background-size: 459px auto !important;
            background-position: -310px -33px !important;
        }

        &.icon_1,
        &.icon_2,
        &.icon_3,
        &.icon_4,
        &.icon_5,
        &.icon_6 {
            @include m.icon-background;
            background-position-y: -114px;
            background-size: 135px auto;
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 20px auto !important;
            background-position: 0px 0px !important;
        }

        &.music_note {
            width: 24px;
            height: 24px;
            position: relative;
            top: 4px;
            background-image: url("img/hexagon_icons_echoes.png");
            background-size: 459px auto !important;
            background-position: -340px -33px !important;
        }

        &.age {
            @include m.square-age;
            font-size: inherit;
            line-height: 19px;
        }

        @include m.generate-icon-x-position(1, 6, 2, 22.25px);
    }

    &.in_tooltip {
        &.age {
            @include m.square-age;
            width: 14px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    &.in_tooltip {
        width: 13px;
        height: 12px;

        &.icon_0 {
            background-image: url("img/hexagon_icons_echoes.png");
            background-size: 230px auto;
            background-position: -155px -17px;
        }

        &.icon_1,
        &.icon_2,
        &.icon_3,
        &.icon_4,
        &.icon_5,
        &.icon_6 {
            @include m.icon-background;
            background-size: 83px auto;
            background-position-y: -42px;
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 12px auto;
            background-position: 0px 0px !important;
        }

        &.icon_8,
        &.icon_9,
        &.icon_11,
        &.icon_12,
        &.icon_13 {
            @include m.city-special-icon-background;
            filter: grayscale(1);
            background-size: 115px auto;
            width: 20px;
            height: 20px;
            top: 4px;
            position: relative;
        }

        &.icon_8,
        &.icon_9 {
            &.fountain_flag_card {
                top: 13px;
                left: 6px;
                filter: none;

                &.color_0 {
                    background-position-x: -0px;
                }

                &.color_1 {
                    background-position-x: -21px;
                }

                &.color_2 {
                    background-position-x: -42px;
                }

                &.color_3 {
                    background-position-x: -63px;
                }

                &.color_4 {
                    background-position-x: -84px;
                }
            }
        }

        &.icon_8 {
            background-position-y: -42px;
        }

        &.icon_9 {
            background-position-y: -63px;
        }

        &.icon_11 {
            background-position-y: -20px;
        }

        &.icon_12 {
            background-position-y: -20px;
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }

        &.icon_13 {
            background-position-y: -20px;
            transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }

        @include m.generate-icon-x-position(1, 6, 0, 14px);
    }
}

.dogma_symbol {
    &.M {
        left: -3px;
        top: -1px;

        &.icon_1,
        &.icon_2,
        &.icon_3,
        &.icon_4,
        &.icon_5,
        &.icon_6,
        &.icon_7 {
            width: 10px;
            height: 10px;
            @include m.icon-background;
            background-size: 60px auto;
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 10px auto;
            background-position: 0px 0px;
        }

        @include m.generate-icon-x-position(1, 7, 0, 10px);
        @include m.generate-color-y-position(0, 4, 0, 10px);
    }

    &.L {
        left: -4px;
        top: -4px;

        &.icon_1,
        &.icon_2,
        &.icon_3,
        &.icon_4,
        &.icon_5,
        &.icon_6,
        &.icon_7 {
            width: 20px;
            height: 20px;
            @include m.icon-background;
            background-size: 120px auto;
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 20px auto;
            background-position: 0px 0px;
        }

        @include m.generate-icon-x-position(1, 7, 0, 20px);
        @include m.generate-color-y-position(0, 4, 0, 20px);
    }
}

#publication_arrow_up,
#publication_arrow_down {
    position: absolute;
    left: 0px;
    font-weight: bolder;
    font-size: 25px;
    padding-bottom: 8px;
}

#publication_arrow_down {
    top: 80px;
}

#publication_arrow_up {
    top: 0px;
}

#publication_cancel {
    margin-right: 10px;
}

.card {
    display: inline-block;
    background-image: url('img/card_backgrounds.jpg');

    &.type_2 {
        background-image: url('img/card_backgrounds_cities.jpg');

        &.simplified {
            background-image: url('img/simplified_card_backgrounds_cities.jpg');
        }
    }

    position: relative;
    border: solid 1px #ffffff;

    &.simplified {
        background-image: url('img/simplified_card_backgrounds.jpg');
    }

    &.M {
        width: 180px;
        height: 124px;
        background-size: 920px 128px;
        border-radius: 6px;
        box-shadow: 3px 3px grey;
        background-position-y: -2px;
        @include m.generate-color-x-position(0, 4, 2, 184px);
        
        &.item_1200,
        &.item_1201,
        &.item_1202,
        &.item_1203,
        &.item_1204 {
            background-image: none;
            background-color: black;
        }
    }

    &.L {
        width: 456px;
        height: 316px;
        border-radius: 16px;
        background-size: 2308px 323px;
        box-shadow: 5px 5px grey;
        background-position-y: -2px;
        @include m.generate-color-x-position(0, 4, 0, 462px);
    }

    &.S {
        &.age_null {
            background-image: url("img/special_achievements_landscape.jpg");
            width: 45px;
            height: 31px;
            background-size: 232px, auto;
            border-radius: 3px;

            &.item_595,
            &.item_596,
            &.item_597,
            &.item_598,
            &.item_599 {
                background-image: none;
                background-color: black;
            }

            &.item_1200,
            &.item_1201,
            &.item_1202,
            &.item_1203,
            &.item_1204 {
                background-image: none;
                background-color: black;
            }
        }

        &.item_105,
        &.item_106,
        &.item_107,
        &.item_108,
        &.item_109 {
            background-position-y: -1px;
        }

        &.item_325,
        &.item_326,
        &.item_327,
        &.item_328,
        &.item_329 {
            background-position-y: -37px;
        }

        &.item_435,
        &.item_436,
        &.item_437,
        &.item_438,
        &.item_439 {
            background-position-y: -73px;
        }

        &.item_105,
        &.item_325,
        &.item_435 {
            background-position-x: -1px;
        }

        &.item_106,
        &.item_326,
        &.item_436 {
            background-position-x: -47px;
        }

        &.item_107,
        &.item_327,
        &.item_437 {
            background-position-x: -93.5px;
        }

        &.item_108,
        &.item_328,
        &.item_438 {
            background-position-x: -140px;
        }

        &.item_109,
        &.item_329,
        &.item_439 {
            background-position-x: -186px;
        }
    }
}

/* Locations where the square and hexagon icons go on each card 
*
*  Square icons should be ~4% of the card width away from the left/bottom/right edges. It currently is 7px
*  Square icons should be ~6% of the card width away from the top edge. it is currently 7px
* 
*  For the middle square icon it should be centered in the card. 180(card size)/2 - 36(icon size)/2 = 72
*
*  The Hex icons do not fill their entire box so we have to fudge some of the offsets
*/

/* Square card icons (most cards have 3 large resource icons on them) 
*
*  These properties of the square icon are directly related. Right now they are made to be 20% of the card width.
*  { Background-size, width, height, background-position-x, background-position-y }
*/
.square_card_icon {
    @include m.icon-background;
    position: absolute;

    &.icon_null {
        display: none;
    }

    &.M {
        width: 36px;
        height: 36px;
        background-size: 230px auto;

        &.icon_1 {
            background-position-x: -1px;
        }

        &.icon_2 {
            background-position-x: -39.5px;
        }

        &.icon_3 {
            background-position-x: -78px;
        }

        &.icon_4 {
            background-position-x: -116px;
        }

        &.icon_5 {
            background-position-x: -154.5px;
        }

        &.icon_6 {
            background-position-x: -192.5px;
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 36px auto;
            background-position: 0px 0px !important;
        }

        &.icon_10 {
            background-image: none;

            // The following line will be added dynamically via JavaScript:
            // display: table;
            &>span {
                padding: 1px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }

        &.color_0 {
            background-position-y: -1px;
        }

        &.color_1 {
            background-position-y: -39.5px;
        }

        &.color_2 {
            background-position-y: -78px;
        }

        &.color_3 {
            background-position-y: -116px;
        }

        &.color_4 {
            background-position-y: -154.5px;
        }

        &.top_left_icon {
            top: 7px;
            left: 7px;
        }

        &.bottom_left_icon {
            bottom: 7px;
            left: 7px;
        }

        &.bottom_center_icon {
            bottom: 7px;
            left: 72px;
        }

        &.bottom_right_icon {
            bottom: 7px;
            right: 7px;
        }

        &.top_right_icon {
            top: 7px;
            right: 7px;
        }

        &.top_center_icon {
            top: 7px;
            left: 72px;
        }
    }

    &.L {
        width: 75px;
        background-size: 470px auto;
        height: 75px;

        &.icon_1 {
            background-position-x: -1.5px;
        }

        &.icon_2 {
            background-position-x: -80px;
        }

        &.icon_3 {
            background-position-x: -158.5px;
        }

        &.icon_4 {
            background-position-x: -236.5px;
        }

        &.icon_5 {
            background-position-x: -315.5px;
        }

        &.icon_6 {
            background-position-x: -393.5px;
        }

        &.icon_7 {
            background-image: url("img/avatar.png");
            background-size: 75px auto;
            background-position: 0px 0px !important;
        }

        &.icon_10 {
            background-image: none;

            // The following line will be added dynamically via JavaScript:
            // display: table;
            &>span {
                padding: 1px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }

        &.color_0 {
            background-position-y: -1px;
        }

        &.color_1 {
            background-position-y: -79.5px;
        }

        &.color_2 {
            background-position-y: -158px;
        }

        &.color_3 {
            background-position-y: -236px;
        }

        &.color_4 {
            background-position-y: -315px;
        }

        &.top_left_icon {
            top: 25px;
            left: 30px;
        }

        &.bottom_left_icon {
            bottom: 23px;
            left: 30px;
        }

        &.bottom_center_icon {
            bottom: 23px;
            left: 195px;
        }

        &.bottom_right_icon {
            bottom: 23px;
            right: 26px;
        }

        &.top_right_icon {
            top: 25px;
            right: 26px;
        }

        &.top_center_icon {
            top: 25px;
            left: 195px;
        }
    }
}

.city_search_icon {
    @include m.city-special-icon-background;
    position: absolute;

    &.M {
        top: 0px;
        left: 70px;
        width: 45px;
        height: 45px;
        background-size: 230px auto;
        background-position-y: -165px;

        &.color_0 {
            background-position-x: 0px;
        }

        &.color_1 {
            background-position-x: -46px;
        }

        &.color_2 {
            background-position-x: -92px;
        }

        &.color_3 {
            background-position-x: -138px;
        }

        &.color_4 {
            background-position-x: -184px;
        }
    }

    &.L {
        top: 11px;
        left: 191px;
        width: 90px;
        height: 90px;
        background-size: 460px auto;
        background-position-y: -330px;

        &.color_0 {
            background-position-x: 0px;
        }

        &.color_1 {
            background-position-x: -92px;
        }

        &.color_2 {
            background-position-x: -184px;
        }

        &.color_3 {
            background-position-x: -276px;
        }

        &.color_4 {
            background-position-x: -368px;
        }
    }
}

.city_special_icon {
    @include m.city-special-icon-background;
    position: absolute;

    &.icon_null {
        display: none;
    }

    &.icon_12 {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    &.icon_13 {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }

    &.M {
        width: 40px;
        height: 40px;
        background-size: 230px auto;

        &.icon_8 {
            background-position-y: -83px;
        }

        &.icon_9 {
            background-position-y: -124px;
        }

        &.icon_11,
        &.icon_12,
        &.icon_13 {
            background-position-y: -42px;
        }

        &.icon_14 {
            background-position-y: -1px;
        }

        &.icon_15 {
            @include m.new-city-special-icons;
            background-size: 205px auto;
            background-position-y: -1px;
        }

        &.icon_16 {
            @include m.new-city-special-icons;
            background-size: 205px auto;
            background-position-y: -42px;
        }

        &.icon_17 {
            @include m.new-city-special-icons;
            background-size: 205px auto;
            background-position-y: -83px;
        }

        &.color_0 {
            background-position-x: -1px;
        }

        &.color_1 {
            background-position-x: -42px;
        }

        &.color_2 {
            background-position-x: -83px;
        }

        &.color_3 {
            background-position-x: -124px;
        }

        &.color_4 {
            background-position-x: -165px;
        }

        &.bottom_center_icon {
            bottom: 5px;
            left: 70px;
        }

        &.top_center_icon {
            top: 5px;
            left: 70px;
        }
    }

    &.L {
        width: 80px;
        height: 80px;
        background-size: 460px auto;

        &.icon_8 {
            background-position-y: -165px;
        }

        &.icon_9 {
            background-position-y: -249px;
        }

        &.icon_11,
        &.icon_12,
        &.icon_13 {
            background-position-y: -83px;
        }

        &.icon_14 {
            background-position-y: -1px;
        }

        &.icon_15 {
            @include m.new-city-special-icons;
            background-size: 410px auto;
            background-position-y: -1px;
        }

        &.icon_16 {
            @include m.new-city-special-icons;
            background-size: 410px auto;
            background-position-y: -83px;
        }

        &.icon_17 {
            @include m.new-city-special-icons;
            background-size: 410px auto;
            background-position-y: -165px;
        }

        &.color_0 {
            background-position-x: -1px;
        }

        &.color_1 {
            background-position-x: -83px;
        }

        &.color_2 {
            background-position-x: -165px;
        }

        &.color_3 {
            background-position-x: -247px;
        }

        &.color_4 {
            background-position-x: -331px;
        }

        &.bottom_center_icon {
            bottom: 22px;
            left: 192px;
        }

        &.top_center_icon {
            top: 22px;
            left: 192px;
        }
    }
}

.bonus_card_icon {
    @include m.bonus-background;
    position: absolute;

    &.M {
        &.bonus_value {
            width: 20px;
            height: 22px;
            background-size: 235px auto;
            background-position-y: -40px;

            &.top_left_icon {
                top: 15px;
                left: 14px;
            }

            &.bottom_left_icon {
                bottom: 12px;
                left: 14px;
            }

            &.bottom_center_icon {
                bottom: 12px;
                left: 80px;
            }

            &.bottom_right_icon {
                bottom: 12px;
                right: 16px;
            }

            &.top_right_icon {
                top: 15px;
                right: 16px;
            }

            &.top_center_icon {
                top: 15px;
                left: 80px;
            }
        }

        @include m.generate-bonus-x-position(1, 12, -1, 19.5px);

        &.bonus_color {
            width: 36px;
            height: 36px;
            background-size: 235px auto;
            background-position-y: -1px;

            &.top_left_icon {
                top: 7px;
                left: 7px;
            }

            &.bottom_left_icon {
                bottom: 7px;
                left: 7px;
            }

            &.bottom_center_icon {
                bottom: 7px;
                left: 73px;
            }

            &.bottom_right_icon {
                bottom: 7px;
                right: 7px;
            }

            &.top_right_icon {
                top: 7px;
                right: 7px;
            }

            &.top_center_icon {
                top: 7px;
                left: 73px;
            }
        }

        @include m.generate-color-x-position(0, 4, 1, 38px);
    }

    &.L {
        &.bonus_value {
            width: 43px;
            background-size: 470px auto;
            height: 43px;
            background-position-y: -82px;

            &.top_left_icon {
                top: 44px;
                left: 48px;
            }

            &.bottom_left_icon {
                bottom: 35px;
                left: 48px;
            }

            &.bottom_center_icon {
                bottom: 35px;
                left: 211px;
            }

            &.bottom_right_icon {
                bottom: 35px;
                right: 41px;
            }

            &.top_right_icon {
                top: 44px;
                right: 43px;
            }

            &.top_center_icon {
                top: 44px;
                left: 211px;
            }
        }

        @include m.generate-bonus-x-position(1, 12, -1, 39px);

        &.bonus_color {
            width: 76px;
            height: 75px;
            background-size: 470px auto;
            background-position-y: -1px;

            &.top_left_icon {
                top: 25px;
                left: 30px;
            }

            &.bottom_left_icon {
                bottom: 23px;
                left: 30px;
            }

            &.bottom_center_icon {
                bottom: 23px;
                left: 193px;
            }

            &.bottom_right_icon {
                bottom: 23px;
                right: 26px;
            }

            &.top_right_icon {
                top: 25px;
                right: 26px;
            }

            &.top_center_icon {
                top: 25px;
                left: 193px;
            }
        }

        @include m.generate-color-x-position(0, 4, -1, 76px);
    }
}

/* Hexagon icons take up ~27 % of a real cards width. 
*  Our cards will shoot for 25 % ->  M.45px
*/
.hexagon_card_icon {
    background-image: url("img/hexagon_icons.png");
    position: absolute;

    &.M {
        background-size: 735px, auto;
        width: 45px;
        height: 45px;

        &.top_left_icon {
            top: 2px;
            left: 4px;
        }

        &.bottom_left_icon {
            bottom: 1px;
            left: 4px;
        }

        &.bottom_center_icon {
            bottom: 1px;
            left: 69px;
        }

        &.bottom_right_icon {
            bottom: 1px;
            right: 2px;
        }

        &.top_right_icon {
            top: 2px;
            right: 2px;
        }

        &.top_center_icon {
            top: 2px;
            left: 69px;
        }
    }

    &.L {
        background-size: 1511px, auto;
        width: 90px;
        height: 90px;

        &.top_left_icon {
            top: 17px;
            left: 26px;
        }

        &.bottom_left_icon {
            bottom: 11px;
            left: 26px;
        }

        &.bottom_center_icon {
            bottom: 11px;
            left: 192px;
        }

        &.bottom_right_icon {
            bottom: 11px;
            right: 15px;
        }

        &.top_right_icon {
            top: 17px;
            right: 15px;
        }

        &.top_center_icon {
            top: 17px;
            left: 192px;
        }
    }
}


.recto {
    display: inline-block;
    position: relative;
    border: solid 1px #ffffff;
    box-shadow: -1px 1px grey;
    border-radius: 3px;

    &.S {
        width: v.$recto-S-width;
        height: v.$recto-S-height;

        &.age_null {
            background-image: url("img/special_achievements_portrait.jpg");
            background-size: 175px, auto;

            &.item_595,
            &.item_596,
            &.item_597,
            &.item_598,
            &.item_599 {
                background-image: none;
                background-color: black;
            }
        }

        &.item_105,
        &.item_106,
        &.item_107,
        &.item_108,
        &.item_109 {
            background-position-y: -1px;
        }

        &.item_325,
        &.item_326,
        &.item_327,
        &.item_328,
        &.item_329 {
            background-position-y: -47.5px;
        }

        &.item_435,
        &.item_436,
        &.item_437,
        &.item_438,
        &.item_439 {
            background-position-y: -94px;
        }

        &.item_105,
        &.item_325,
        &.item_435 {
            background-position-x: -1px;
        }

        &.item_106,
        &.item_326,
        &.item_436 {
            background-position-x: -36px;
        }

        &.item_107,
        &.item_327,
        &.item_437 {
            background-position-x: -71px;
        }

        &.item_108,
        &.item_328,
        &.item_438 {
            background-position-x: -106px;
        }

        &.item_109,
        &.item_329,
        &.item_439 {
            background-position-x: -141px;
        }

        // TODO(LATER): Clean this up by introducing a new class so that we don't need to generate a bunch of class combinations that are never used.
        @for $i from 1000 through 1013 {

            &.item_#{$i},
            &.item_#{$i+100} {
                background-image: none;

                &.color_0 {
                    background-color: #94b1dd;
                }

                &.color_1 {
                    background-color: #db7b84;
                }

                &.color_2 {
                    background-color: #73bb64;
                }

                &.color_3 {
                    background-color: #e3e47b;
                }

                &.color_4 {
                    background-color: #9a58ba;
                }
            }
        }

        &.default_card_back {

            &.age_1,
            &.age_2,
            &.age_3,
            &.age_4,
            &.age_5,
            &.age_6,
            &.age_7,
            &.age_8,
            &.age_9,
            &.age_10 {
                background-image: url("img/card_backs_portrait.jpg");
                background-size: 380px 256px;
            }

            &.age_1 {
                background-position-x: -2px;
            }

            &.age_2 {
                background-position-x: -36px;
            }

            &.age_3 {
                background-position-x: -71px;
            }

            &.age_4 {
                background-position-x: -105px;
            }

            &.age_5 {
                background-position-x: -140px;
            }

            &.age_6 {
                background-position-x: -174px;
            }

            &.age_7 {
                background-position-x: -209px;
            }

            &.age_8 {
                background-position-x: -243px;
            }

            &.age_9 {
                background-position-x: -278px;
            }

            &.age_10 {
                background-position-x: -312px;
            }

            &.type_0 {
                background-position-y: -3px;
            }

            &.type_1 {
                background-position-y: -54px;
            }

            &.type_2 {
                background-position-y: -105px;
            }

            &.type_3 {
                background-position-y: -156px;
            }

            &.type_4 {
                background-position-y: -208px;
            }

            &.relic {
                border: solid 1px transparent;
                background-position-x: -347px;
            }
        }

        &.card_back_text {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            font-weight: bold;
            font-family: system-ui;
        }

        &.simplified_card_back {
            line-height: v.$recto-S-height;
            text-align: center;

            &.type_0 {
                background-color: #f0d68c;
            }

            &.type_1 {
                background-color: #d2b7ff;
            }

            &.type_2 {
                background-color: #ff9fe5;
            }

            &.type_3 {
                background-color: #88d2ff;
            }

            &.type_4 {
                background-color: #16eb54;
            }

            &.type_5 {
                background-color: #000000;
                color: white;
            }

            &.relic {
                box-shadow: inset 0px 0px 0px 5px #000;
            }
        }
    }
}

/* Font sizes */
@for $i from 1 through 30 {
    .font_size_#{$i} {
        font-size: #{$i}px;
    }
}

/* hexagon card icons */

$M_offset: 49;
$M_x_position: 3;
$M_y_position: 3;
$L_offset: 100.5;
$L_x_position: 8;
$L_y_position: 8;

.hexagon_card_icon {

    // Base cards
    @for $i from 0 through 104 {
        @if $i <=14 {
            &.hexagon_icon_#{$i} {
                &.M {
                    background-position: -#{$M_x_position + $i * $M_offset}px -#{$M_y_position}px;
                }

                &.L {
                    background-position: -#{$L_x_position + $i * $L_offset}px -#{$L_y_position}px;
                }
            }
        }

        @if $i >14 {
            &.hexagon_icon_#{$i} {
                &.M {
                    background-position: -#{$M_x_position + ($i - 15) % 10 * $M_offset}px -#{$M_y_position + ((math.floor(math.div(($i - 15),10)))+ 1) * $M_offset}px;
                }

                &.L {
                    background-position: -#{$L_x_position + ($i - 15) % 10 * $L_offset}px -#{$L_y_position + ((math.floor(math.div(($i - 15),10)))+ 1) * $L_offset}px;
                }
            }
        }
    }

    // Artifact cards
    @for $i from 110 through 214 {
        @if $i <=124 {
            &.hexagon_icon_#{$i} {
                &.M {
                    background-position: -#{$M_x_position + ($i - 110) % 15 * $M_offset}px -#{$M_y_position + 10 * $M_offset}px;
                }

                &.L {
                    background-position: -#{$L_x_position + ($i - 110) % 15 * $L_offset}px -#{$L_y_position + 10 * $L_offset}px;
                }
            }
        }

        @if $i >124 {
            &.hexagon_icon_#{$i} {
                &.M {
                    background-position: -#{$M_x_position + ($i - 15) % 10 * $M_offset}px -#{$M_y_position + ((math.floor(math.div(($i - 15),10)))) * $M_offset}px;
                }

                &.L {
                    background-position: -#{$L_x_position + ($i - 15) % 10 * $L_offset}px -#{$L_y_position + ((math.floor(math.div(($i - 15),10)))) * $L_offset}px;
                }
            }
        }
    }

    // Relic cards
    @for $i from 215 through 219 {
        &.hexagon_icon_#{$i} {
            &.M {
                background-position: -#{$M_x_position + ($i + 5) % 15 * $M_offset}px -#{$M_y_position + ((math.floor(math.div(($i - 100),10)))) * $M_offset}px;
            }

            &.L {
                background-position: -#{$L_x_position + ($i + 5) % 15 * $L_offset}px -#{$L_y_position + ((math.floor(math.div(($i - 100),10)))) * $L_offset}px;
            }
        }
    }

    // City cards
    @for $i from 220 through 324 {
        @if $i <=234 {
            &.hexagon_icon_#{$i} {
                &.M {
                    background-position: -#{$M_x_position + (10 + math.floor(math.div(($i - 220), 3))) * $M_offset}px -#{$M_y_position + $M_offset}px;
                }

                &.L {
                    background-position: -#{$L_x_position + (10 + math.floor(math.div(($i - 220), 3))) * $L_offset}px -#{$L_y_position + $L_offset}px;
                }
            }
        }

        @if $i >=235 and $i <=314 {
            &.hexagon_icon_#{$i} {
                &.M {
                    background-position: -#{$M_x_position + (10 + math.floor(math.div(($i - 235) % 10, 2))) * $M_offset}px -#{$M_y_position + (2 + math.floor(math.div($i - 235, 10))) * $M_offset}px;
                }

                &.L {
                    background-position: -#{$L_x_position + (10 + math.floor(math.div(($i - 235) % 10, 2))) * $L_offset}px -#{$L_y_position + (2 + math.floor(math.div($i - 235, 10))) * $L_offset}px;
                }
            }
        }

        @if $i >=315 {
            &.hexagon_icon_#{$i} {
                &.M {
                    background-position: -#{$M_x_position + (10 + math.floor(math.div($i - 315, 2))) * $M_offset}px -#{$M_y_position + 12 * $M_offset}px;
                }

                &.L {
                    background-position: -#{$L_x_position + (10 + math.floor(math.div($i - 315, 2))) * $L_offset}px -#{$L_y_position + 12 * $L_offset}px;
                }
            }
        }
    }

    // Echo cards
    // Since the icons are in their own png, we have to offset i by 330 and 345 back to '0' for calulation purposes
    @for $i from 330 through 434 {
        @if $i <=344 {
            &.hexagon_icon_#{$i} {
                background-image: url("img/hexagon_icons_echoes.png");

                &.M {
                    background-position: -#{$M_x_position + ($i - 330) * $M_offset}px -#{$M_y_position}px;
                }

                &.L {
                    background-position: -#{$L_x_position + ($i - 330) * $L_offset}px -#{$L_y_position}px;
                }
            }
        }

        @if $i >=345 {
            &.hexagon_icon_#{$i} {
                background-image: url("img/hexagon_icons_echoes.png");

                &.M {
                    background-position: -#{$M_x_position + ($i - 345) % 10 * $M_offset}px -#{$M_y_position + ((math.floor(math.div(($i - 345),10)))+ 1) * $M_offset}px;
                }

                &.L {
                    background-position: -#{$L_x_position + ($i - 345) % 10 * $L_offset}px -#{$L_y_position + ((math.floor(math.div(($i - 345),10)))+ 1) * $L_offset}px;
                }
            }
        }
    }

    // Age 11 cards and Unseen cards
    // TODO(4E): Add real hex icons once we have the graphics
    @for $i from 440 through 594 {
        &.hexagon_icon_#{$i} {
            filter: brightness(0%);

            &.M {
                background-position: -3px -3px;
            }

            &.L {
                background-position: -8px -8px;
            }
        }
    }
}